body {
    background: #cccccc
}

p {
    text-align: center;
}

em strong {
    color: red;
}

footer {
    text-align: center;
    padding: 40px 0;
    background: grey;
    margin-top: 50px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}