body {
    background: #cccccc
}

p {
    text-align: center;
}

em strong {
    color: red;
}

footer {
    text-align: center;
    padding: 40px 0;
    background: grey;
    margin-top: 50px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

form {
    margin: 40px 0;
}

form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}